body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    background-image: linear-gradient(90deg, #545454, #d3d3d3);
}

/* Cabeçalho */
.cabeçalho {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

header {
    flex-shrink: 0;
}

/* Ícone Moeda */
.moeda {
    width: 70px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 25px;
}

/* Container Principal */
.conteudo {
    background-color: #d9d9d9;
    border-radius: 2em;
    border: 1px solid black;
    text-align: center;
    flex: 1;
    padding: 5em;
    margin: 5em;
}

/* Inputs e botões */
.input-container {
    position: relative;
    display: inline-flex;
    padding: 8px;
}

.input-container label {
    position: absolute;
    top: -1.5em;
    left: 0;
}

.btn-calcular {
    width: 100%;
    background-color: #d9d9d9;
    color: black;
    padding: 4px;
    transition: 0.3s;
}

button:hover {
    background: #adadad;
}

/* Resultados */
.resultado-titulo {
    text-align: left;
}

.resultado-conversao,
.resultado-conversao2 {
    border: 1px solid black;
    background-color: #d9d9d9;
    padding: 15px;
    text-align: left;
    margin-top: 16px;
}

/* Conversor */
.conversor input{
    background: #d9d9d9
}
.conversor select {
    padding: 7px;
    border: 1px solid black;
    background: #d9d9d9;
}

/* Footer */
footer {
    background-color: #333;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0;
    padding: 1em;
}

@media (max-width: 768px) {
    
    .cabeçalho{
        font-size: 1.5em !important;
        
    }

    .conversor input#valor {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    .moeda {
        width: 40px !important;
    }

    .resultado-conversao,
    .resultado-conversao2 {
        text-align: center !important;
    }
    
    .conteudo {
        background-color: #d9d9d9 !;
        border-radius: 2em !important;
        border: 1px solid black !important;
        text-align: center !important;
        flex: 1 !important;
        padding: 1vh !important;
        margin: 9% !important;
    }
}