body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    background-image: linear-gradient(90deg, #545454,#d3d3d3);
}

.cabeçalho{
    background-color: #333;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 1em;
}

.moeda{
    width: 70px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 25px;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container label {
    position: absolute;
    top: -1.5em;
    left: 0;
}

.conteudo{
    background-color: #d3d3d3;
    margin: 6em;
    border-radius: 2em;
    border: 2px solid black;
    text-align: center;
    flex: 1;
}

.resultado-titulo {
    text-align: left;
    margin-top: 20px;
    margin-left: 4em;
}

.resultado-conversao {
    border: 1px solid black;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 0px;
    text-align: left;
    margin-top: 15px;
}


.conversor{
    margin: 4em;
}

button:hover {
    background: #d3d3d3;
}

footer{
    background-color: #333;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0%;
}
@media (max-width: 768px) {
    
    .cabeçalho{
        background-color: #333 !important;
        color: white !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        text-align: center !important;
        padding: 1em !important;
    }
    
    #conteudo{
        background-color: white !important;
        margin: 6em !important;
        border-radius: 2em !important;
        border: 2px solid black !important;
        flex: 1 !important;
    } 
}